# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# Coverage reports
.coverage
htmlcov/

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/

# IDE
.idea/
